{% extends 'base.html' %}
{% block title %}Reduce Amount{% endblock %}
{% block stylesheet %}
    <style>
    body {
        border: 3px solid orange;
        background-color: #f5f1f1;
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
        font-size: 150%;
        margin: 1rem;
        border: 2px solid orange;
    }
    input {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    button {
        margin-left: 4rem;
        margin-bottom: 1rem;
    }
    </style>
{% endblock %}
{% block content %}
    <h1>Deposit Funds To Your Wallet</h1>
    <div class="main">
    <form action="{% url 'deposit' %}" method="post">
    {% csrf_token %}

        <div class="mb-3">
{#            <label for="exampleFormControlInput1" class="form-label">Payment Link (URL)</label>#}
            <input type="text" class="form-control" id="exampleFormControlInput1" required name="phone-number" placeholder="Phone Number">
        </div><div class="mb-3">
{#            <label for="exampleFormControlInput1" class="form-label">Payment Link (URL)</label>#}
            <input type="number" class="form-control" id="exampleFormControlInput1" required name="amount" placeholder="amount">
        </div>
        <button type="submit" class="btn btn-warning">Pay Now</button>
    </form>
    </div>
{% endblock %}