{% extends 'base.html' %}
{% block title %}Reduce Amount{% endblock %}
{% block stylesheet %}
    <style>
        body {
            border: 3px solid orange;
            background-color: #f5f1f1;
        }

        .main {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
            font-size: 150%;
            margin: 1rem;
            border: 2px solid orange;
        }

        input {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        button {
            margin-left: 4rem;
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Payment Confirmation</h1>
    <div class="main">
        <form action="{% url 'pay-query' %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                {#            <label for="exampleFormControlInput1" class="form-label">Payment Link (URL)</label>#}
                <input type="hidden" class="form-control" id="exampleFormControlInput1" required name="phone"
                       placeholder="Phone Number" value="{{ phone }}">
            </div>
            <div class="mb-3">
                {#            <label for="exampleFormControlInput1" class="form-label">Payment Link (URL)</label>#}
                <input type="hidden" class="form-control" id="exampleFormControlInput1" required name="amount"
                       placeholder="amount" value="{{ amount }}">
            </div>
            <div class="mb-3">
                {#            <label for="exampleFormControlInput1" class="form-label">Payment Link (URL)</label>#}
                <input type="hidden" class="form-control" id="exampleFormControlInput1" required name="reference"
                       placeholder="reference-number" value="{{ reference }}">
            </div>
            <button type="submit" class="btn btn-warning">Confirm Payment</button>
        </form>
    </div>
{% endblock %}